extends layout.pug

block content 
  div(class="col-xs-12 col-sm-8 col-sm-offset-2 text-center")
    div(class="col-xs-12 text-center text-upper")
      h5="Your Polls"
     
    div(class="col-xs-12 text-center")
      div(class="col-xs-12")
          div(class="col-xs-12" id="poll")  
            h2 
              u Make a new poll!
              
            div(class="col-xs-12")  
                  form(id="createPoll" method='post' action="/poll/create")
                    div(class="col-xs-12")  
                      label Title
                      input(id="title" class="form-control")
                      label Options (seperated by line):
                      textarea(id="options"  class="form-control")
                    div(class="col-xs-12")  
                      br
                    div(class="col-xs-12 clearfix")  
                      button(type="submit" value="submit" class="btn pull-right") submit