extends layout.pug

block content 
  div(class="col-xs-12 col-sm-8 col-sm-offset-2 text-center")
    div(class="col-xs-12 text-center text-upper")
      h5="Your Polls"
     
    div(class="col-xs-12 text-center")
      a(href='/poll/view/' + poll.uid class="pull-right btn-link")
        h4=" → View Poll" 

      form(id="updatePoll" method='post' action="/poll/update/" + poll.uid)
        div(class="col-xs-12")  
          label Title
          input(id="title" class="form-control" value=poll.title)
          label Options (seperated by line):
          textarea(id="options"  class="form-control") #{polloptions}
        div(class="col-xs-12")  
          br

        div(class="col-xs-12 clearfix")  
          div(class="col-xs-12 clearfix result")  
          button(type="submit" value="submit" class="btn pull-right") submit