//- layout.pug
html
  head
    title Let's Vote - #{title}
  head
    meta(name='description' content='A cool thing made with Glitch')
    link(id='favicon' rel=icon href='https://glitch.com/edit/favicon-app.ico' type="image/x-icon")  
    link(rel='stylesheet'   href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'  )
    link(rel='stylesheet'   href='https://fonts.googleapis.com/css?family=Inconsolata'  )
    link(rel='stylesheet'   href='/style.css'  )
 
  body
    block header
        header      
          div(class="container")
            div(class="col-xs-12")
              div(class="col-xs-6")
                a(href="/" style="text-decoration:none")
                  h1 Let's ✔️ote
                div(class="col-xs-12")

              div(class="col-xs-6")
                if !authorised
                  | login [ 
                  a(href="/auth/twitter")
                    button(class="twitter" type="submit") twitter 
                  |  ]
                            
                if authorised
                  | Hello 
                  strong
                  |  [ 
                  a(href="/profile")
                    button(class="byeeee btn-link  btn-xs " type="submit") Profile 
                  a(href="/poll/my")
                    button(class="byeeee btn-link  btn-xs " type="submit") My polls 
                  a(href="/poll/create")
                    button(class="byeeee btn-link  btn-xs " type="submit") create poll 
                  a(href="/logout")
                    button(class="byeeee btn-link  btn-xs " type="submit") Signout 
                  |  ]

    block content
    block footer
      footer(class="text-center col-xs-12")
        a(href="https://github.com/tobi-et-al") Built with ❤️ &amp; 🍪 by toebee

    block scripts
      script(src="https://code.jquery.com/jquery-2.2.1.min.js")
      script(src="/client.js") 
      