extends layout.pug

block content 
  div(class="col-xs-12 col-sm-8 col-sm-offset-2 text-center")
    div(class="col-xs-12 text-center text-upper")
      h5="Your Polls"
     
    div(class="col-xs-12 text-center")

      div(class="col-xs-12")  
        h2 
          u Profile
        p
        div(class="col-xs-12" style="margin.top:10px")
          div(class="col-xs-12")  Username: #{user.twitter.name}
          br
          div(class="col-xs-12")  Profile picture:
            img(class="img-circle" src=user.twitter.profile_image)
          
        div(class="col-xs-12 clearfix")  
          div(class="col-xs-12 clearfix result")  
          button(type="submit" value="submit" class="btn pull-right") submit